*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --cuadrado-porcentaje-clippath{
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --flecha-transform-icono{
    syntax: "<transform-function>";
    inherits: true;
    initial-value: translate(0,0);
}

@property --flecha-opacidad-icono{
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
}


@property --escalar-dowload-icon{
    syntax: "<transform-function>";
    inherits: true;
    initial-value: scale(1);
}

@property --escalar-check-icon{
    syntax: "<transform-function>";
    inherits: true;
    initial-value: scale(0);
}


.contenedor-iconos{
    animation: animar-iconos 3s forwards;
    display: grid;
    grid-template-areas: "iconos";
    place-items: center;
}

.dowload{
    grid-area: iconos;
    transform: var(--escalar-dowload-icon);
    width: calc(68px *2);
    height: calc(54px *2);
}

.check{
    grid-area: iconos;
    width: 70px;
    height: 70px;
    transform: var(--escalar-check-icon);
}

#flecha{
  transform: var(--flecha-transform-icono);
  opacity: var(--flecha-opacidad-icono);
}

#cuadrado{
    clip-path: circle(var(--cuadrado-porcentaje-clippath) at center bottom);
}

@keyframes animar-iconos {
    0%{
        --escalar-dowload-icon: scale(1);

        --cuadrado-porcentaje-clippath: 0%;
        --flecha-transform-icono: translate(0,0);
        --flecha-opacidad-icono: 1;
    }

    40%{
        --escalar-dowload-icon: scale(1);

        --cuadrado-porcentaje-clippath: 0%;
        --flecha-transform-icono: translate(0,90%);
        --flecha-opacidad-icono: .7;
    }

    60%{
        --escalar-dowload-icon: scale(1);

        --cuadrado-porcentaje-clippath: 100%;
        --flecha-opacidad-icono: 0;
    }

    80%{
        --escalar-dowload-icon: scale(0);
        --escalar-check-icon: scale(0);
    }

    100%{
        --escalar-dowload-icon: scale(0);
        --escalar-check-icon: scale(1);

        --cuadrado-porcentaje-clippath: 100%;
        --flecha-transform-icono: translate(0,90%);
        --flecha-opacidad-icono: 0;
    }
}